*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(red, yellow, blue, green);
    /*background-image: url("/logo.png");*/
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px grba(0,0,0,.3); 
    padding: 40px 30px;
}
.container .login-text{
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align:  center;
    margin-bottom: 25px;
    display: block;
    text-transform: capitalize;
}
.container .login-social{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, lfr));
    margin-bottom: 25px;
}
.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
.container .login-email .input-group input{
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
.container .login-email .input-group input:focus,.container .input-group .login-email .input-group input:valid{
    border-color: #a29bfe;
}
.container .login-email .input-group .btn{
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}